* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header .user img, header .logo img {
    width: 60px;
}

.hero {
    height: 100vh;
    background: #000000eb url('img/pkb.jpg') no-repeat center center/cover;
    background-color: #000000ad;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-content {
    background: rgb(0, 0, 0);
    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.9), 0px -20px 20px 20px rgba(0, 0, 0, 0.9), -20px 0px 20px 20px rgba(0, 0, 0, 0.9), 20px 0px 20px 20px rgba(0, 0, 0, 0.9);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: #e50914;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.section {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
}

.carousel-item {
    flex-shrink: 0;
    width: 20%;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
    display: block;
    max-height: 250px;
    object-fit: cover;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-btn.left {
    left: 10px;
}

.carousel-btn.right {
    right: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #bbb;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

